* {
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 5em;
}
section#doc-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
div.doc-listing {
  width: 100%;
  margin: 20px;
  background: #EEF;
  border-radius: 10px;
  img {
    max-width: 200px;
  }
}
form {
  margin: 10px;
}
input {
  padding: 5px;
  margin: auto;
  width: 100%;
}
button {
  margin: 20px 0;
  padding: 5px;
  font-size: 1em;
  background: #EEF;
  border-radius: 5px;
  width: 100%;
}
@media screen and (min-width: 750px){
  div.doc-listing {
    width: 45%;
  }
  input {
    display: inline;
    width: inherit;
  }
  button {
    width: 50%;
  }
}
